@font-face {
  font-family: "FontAwesome";
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.mm-link-checker {
  background: white;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 13px;
  margin: 10px;
}

.mm-link-checker .visit {
  font-size: 0.8rem;
}

.mm-link-checker .visit a:after {
  content: " \f08e";
  font-family: FontAwesome;
  font-size: 0.8em;
}

.mm-link-checker[hidden] {
  display: none;
}

@media only screen and (min-width: 1700px) {
  .mm-link-checker:not(.top-only) {
    position: fixed;
    left: 0;
    bottom: 20px;
    min-width: 350px;
    z-index: 100;
    max-height: 60%;
    max-width: 500px;
    overflow-y: auto;
  }
}

.hilite-yellow {
  background-color: yellow;
}
.hilite-red {
  background-color: #900000;
  color: white !important;
}

@-webkit-keyframes flash {
  50% {
    background-color: white;
    color: black;
  }
}
.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: ease-in-out;
}

.closer {
  float: right;
  font-weight: bold;
  cursor: pointer;
}
