@media screen and (min-width: 768px) {

	html,
	body {
		height: 100%;
	}

	.dsl_pmv:not(.mm-frame-container):first-child {
		height: auto !important;
	}

	.dsl_p_m_s .dsl_pmv:not(.mm-frame-container) {
		height: auto !important;
	}

	#d_content {
		height: calc(100% - 155px);
	}

	.dsl_p_m_s .dsl_pmv:not(.mm-frame-container) div[style*='height:'][class*='dsl'] {
		height: auto !important;
	}

	.daylight .d2l-assignment-mark-user .dsl_p_m {
		height: unset;
	}

	div.dsl_m {
		height: unset !important;
	}

	.daylight .d2l-assignment-mark-user .dsl_pmh:nth-child(2) {
		position: sticky;
		top: 0;
	}

	.daylight .d2l-assignment-mark-user .dsl_p_bh {
		position: sticky;
		top: 0;
	}

	.mm-frame-full-height {
		height: 100vh !important;
	}
}