d2l-table-wrapper[sticky-columns="1"] tr[header].d2l-table-row-first th:nth-child(2),
d2l-table-wrapper[sticky-columns="1"] tr:not([header]) th,
d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-child(1),
d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-child(2),
d2l-table-wrapper[sticky-columns="2"] tr:not([header]) th,
d2l-table-wrapper[sticky-columns="2"] tr:not([header]) td:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
}

d2l-table-wrapper[sticky-columns="1"] tr:not([header]) th,
d2l-table-wrapper[sticky-columns="2"] tr:not([header]) th,
d2l-table-wrapper[sticky-columns="2"] tr:not([header]) td:nth-child(1) {
  background-color: white;
}

d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-child(2),
d2l-table-wrapper[sticky-columns="2"] tr:not([header]) th {
  left: 60px;
}

d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-last-child(2),
d2l-table-wrapper[sticky-columns="2"] tr[header]:not(.d2l-table-row-first) th:nth-last-child(1),
d2l-table-wrapper[sticky-columns="2"] tr[header]:not(.d2l-table-row-first) th:nth-last-child(2) {
  position: sticky;
  right: 0;
  z-index: 1;
}

d2l-table-wrapper tr:not([header]) td:nth-last-child(2),
d2l-table-wrapper tr:not([header]) td:nth-last-child(3) {
  position: sticky;
  right: 0;
  z-index: 1;
  background: white;
}

d2l-table-wrapper[sticky-columns="2"] tr[header]:not(.d2l-table-row-first) th:nth-last-child(2),
d2l-table-wrapper tr:not([header]) td:nth-last-child(3) {
  right: 58px;
}

d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-last-child(2),
d2l-table-wrapper[sticky-columns="2"] tr[header]:not(.d2l-table-row-first) th:nth-last-child(2),
d2l-table-wrapper tr:not([header]) td:nth-last-child(3) {
  border-left: var(--d2l-table-border);
}

d2l-table-wrapper[sticky-columns="2"] tr[header].d2l-table-row-first th:nth-last-child(3),
d2l-table-wrapper[sticky-columns="2"] tr[header]:not(.d2l-table-row-first) th:nth-last-child(3),
d2l-table-wrapper tr:not([header]) td:nth-last-child(4) {
  border-right: 0;
}
