[mm-visible="false"] {
  display: none;
}

.edit-only {
  display: none !important;
}

body.mm-group-edit .edit-only {
  display: inline-block !important;
}

.mm-btn {
  position: relative;
}

.mm-inc-loader mm-loader {
  display: none;
}

.mm-inc-loader.loading mm-loader {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: -20px;
  top: 7px;
}
