.row-current-date {
  background: rgba(0, 96, 0, 0.8) !important;
}
.row-old-date {
  background: rgba(128, 32, 32, 0.8) !important;
}

body.mm-access-friendly .row-current-date {
  background: rgba(32, 0, 96, 0.8) !important;
}
