.d2l-navigation-s-item.less-rpad {
  margin-right: 10px;
}

.d2l-navigation-s-item.no-rpad {
  margin-right: 0;
}

.mm-status-checker {
  padding-left: 10px;
  position: relative;
}

.mm-status-checker::before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: -8px;
  top: 2px;
  border: thin solid lightgrey;
  box-sizing: border-box;
}

.mm-future::before,
.mm-active::before {
  border-radius: 10px;
}

.mm-exam::before,
.mm-end::before {
  border-radius: 4px;
}

.mm-future::before {
  background-color: rgb(255, 255, 255);
}

.mm-active::before {
  background-color: rgb(20, 240, 20);
}

.mm-access-friendly .mm-active::before {
  background-color: rgb(138, 211, 200);
}

.mm-exam::before {
  background-color: rgb(224, 171, 37);
}

.mm-end::before {
  background-color: rgb(176, 36, 36);
}

@media (max-width: 931px) {
  .mm-status-checker {
    margin-left: 10px;
  }
}

.d2l-navigation-s-title-container {
  overflow: unset;
  margin-top: 15px;
}
