<mm-widget-title>Check Links</mm-widget-title>
<mm-widget-description>
  <p>
    This widget scans all HTML pages in the content, and checks whether any links are either broken or set up incorrectly
    (external links will not work in some browsers unless they open in a new window).
  </p>
</mm-widget-description>

<style>
  mm-widget-description p {
    margin: 0;
  }

  mm-widget-control {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  mm-widget-result a {
    color: #006fbf;
    text-decoration: none;
  }

  mm-widget-result a:hover {
    text-decoration: underline;
  }

  .results-order {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.75em;
  }

  mm-widget-result mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }

  mm-widget-result table td {
    vertical-align: top;
    padding: 1em;
  }

  mm-widget-result table tr:not(:last-of-type) td {
    border-bottom: thin solid #ddd;
  }

  mm-widget-result td.page-name {
    width: 40%;
  }

  mm-widget-result td.issue-type {
    text-align: right;
    opacity: 0.7;
    width: 10%;
  }

  mm-widget-result td.error {
    width: 50%;
    word-break: break-word;
  }

  mm-widget-result .wrapper .feedback-container {
    margin: 0.7em 1.5em 2em;
  }

  mm-widget-result .wrapper:last-of-type .feedback-container {
    margin-bottom: 0;
  }

  mm-widget-result .feedback-container {
  }
  mm-widget-result .feedback-container:not(:last-of-type) {
    margin-bottom: 1em;
  }

  mm-widget-result td.error strong {
    margin-bottom: 0.5em;
  }
  mm-widget-result td.error p {
    margin: 0;
    padding: 0.2em 0;
  }

  .feedback-visibility {
    display: flex;
    gap: 2em;
  }

  .d2l-input-radio-label {
    margin: 0 !important;
  }

  #results_text {
    font-size: smaller;
    margin-bottom: 2em;
    display: block;
  }

  #results_text h2 {
    color: #017d79;
    font-size: xx-large;
    margin-bottom: 0;
  }
</style>

<mm-widget-control>
  <d2l-button primary id="activate">Check Unit Links</d2l-button>

  <d2l-button-icon icon="tier1:gear" text="Advanced options" data-config-opener></d2l-button-icon>

  <mm-widget-config-item class="feedback-visibility">
    <label class="d2l-input-radio-label">
      <input type="radio" name="feedback-visibility" checked value="visible" />
      Show additional information
    </label>

    <label class="d2l-input-radio-label">
      <input type="radio" name="feedback-visibility" value="hidden" />
      Hide additional information
    </label>
  </mm-widget-config-item>
</mm-widget-control>

<mm-widget-config config-path="link-checker">
  <d2l-input-checkbox name="displayTimeouts">
    Display timeout errors
    <d2l-icon
      style="width: 14px"
      icon="d2l-tier1:help"
      role="img"
      alt="Choose whether to show page timeout errors in the list"
      title="Choose whether to show page timeout errors in the list"
    ></d2l-icon>
  </d2l-input-checkbox>
</mm-widget-config>

<mm-widget-result>
  <!-- <span id="time_taken"></span> -->
  <span id="results_text"></span>
  <mm-loader hidden></mm-loader>
  <span mm-id="progress-text"></span>
  <div id="results"></div>
</mm-widget-result>

<mm-widget-script src="js/mylo-widgets/ContentChecker.widget.js"></mm-widget-script>
