<mm-widget-title>Get Staff from Units</mm-widget-title>
<mm-widget-description>
  <p>
    This widget examines the list of enrolled users for lecturers and downloads the results to a CSV spreadsheet. Type in
    unit codes separated by commas, or a unit prefix (e.g. HGA,CNA,BEA) to retrieve all matching units with that prefix.
  </p>
</mm-widget-description>

<style>
  mm-widget-description p {
    margin: 0;
  }
  .input-row {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    align-items: flex-end;
  }

  mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }
</style>

<mm-widget-control>
  <div class="input-row">
    <d2l-input-text label="Units to search" name="search" placeholder="Units to search for..."></d2l-input-text>

    <select id="semester" class="d2l-input-select">
      <option value="" selected disabled hidden>Select a semester</option>
      <option value="S1">Semester 1</option>
      <option value="S2">Semester 2</option>
      <option value="S3">Semester 3</option>
      <option value="S4">Semester 4</option>
      <option value="S5">Semester 5</option>
      <option value="YR">Full Year</option>
      <option value="T1">Term 1</option>
      <option value="T2">Term 2</option>
      <option value="T3">Term 3</option>
      <option value="T4">Term 4</option>
      <option value="A1">Accelerated Period 1</option>
      <option value="A2">Accelerated Period 2</option>
      <option value="A3">Accelerated Period 3</option>
    </select>

    <select id="year" class="d2l-input-select">
      <option value="" selected disabled hidden>Select a year</option>
    </select>

    <d2l-button class="mm-action-button" disabled primary id="activate"> Analyse </d2l-button>
  </div>
  <div class="row" id="select_roles">
    <d2l-input-checkbox value="27816,27817" title="UnitCoordinator" name="user-role" checked>Unit Coordinator</d2l-input-checkbox>
    <d2l-input-checkbox value="106,121" title="Lecturer" name="user-role" checked>Lecturer</d2l-input-checkbox>
    <d2l-input-checkbox value="112,122" title="Tutor" name="user-role" checked>Tutor</d2l-input-checkbox>
    <d2l-input-checkbox value="126,127" title="Support" name="user-role">Support</d2l-input-checkbox>
    <d2l-input-checkbox value="129" title="Auditor" name="user-role">Auditor</d2l-input-checkbox>
  </div>
</mm-widget-control>
<mm-widget-result>
  <mm-loader hidden></mm-loader>
  <p class="completion-message"></p>

  <div class="button-row">
    <d2l-button primary disabled id="csv">Download CSV</d2l-button>
    <d2l-button disabled id="email">Copy Emails</d2l-button>
  </div>
  <div class="backup-text" hidden>
    <input type="text" id="backup_value" class="backup-values" value="" />
  </div>
</mm-widget-result>

<mm-widget-script library src="lib/clipboard.min.js"></mm-widget-script>
<mm-widget-script src="js/mylo-widgets/EnrolledUsers.widget.js"></mm-widget-script>
