[mm-type-is="widget"] .d2l-widget-header {
  flex-direction: column;
  align-items: normal;
}

[mm-type-is="widget"] .d2l-homepage-header-menu-wrapper {
  position: absolute;
  right: 0;
}

[mm-type-is="widget"] .d2l-widget-content {
  /* transition: max-height 400ms ease-in-out; */
  height: auto;
}

[mm-type-is="widget"][collapsed] .d2l-widget-content {
  overflow: hidden;
  height: 0px;
}

[mm-type-is="widget"][collapsed] [mm-widget-view-state="collapse"],
[mm-type-is="widget"]:not([collapsed]) [mm-widget-view-state="expand"] {
  display: none !important;
}
