<mm-widget-title>Status Report</mm-widget-title>
<mm-widget-description>
  <p>This widget scans the unit against a predefined set of conditions, and reports back any inconsistencies.</p>
</mm-widget-description>

<style>
  mm-widget-description p {
    margin: 0;
  }

  mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }

  mm-widget-result a {
    color: #006fbf;
    text-decoration: none;
  }

  mm-widget-result a:hover {
    text-decoration: underline;
  }

  .heading span {
    font-size: 0.8em;
  }

  .heading span:not(:last-of-type) {
    margin-right: 0.25em;
    padding-right: 0.5em;
    border-right: thin solid hsl(220deg 0% 90%);
  }

  .outcome:not(:last-of-type) {
    border-bottom: thin solid #ccc;
  }

  .outcome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'desc result';
    grid-gap: 2em;
  }

  .outcome .outcome-header {
    grid-area: desc;
  }

  .outcome .outcome-header d2l-icon {
    margin-left: 1em;
  }

  .outcome .outcome-result {
    grid-area: result;
  }

  .outcome .outcome-result span.breadcrumb {
    display: block;
    margin-left: 1em;
    margin-top: 0.5em;
    font-style: italic;
    font-size: smaller;
  }

  .heading h2 {
    color: #017d79;
    font-size: xx-large;
    margin-bottom: 0;
  }
</style>

<mm-widget-control>
  <d2l-button primary id="activate">Get Status Report</d2l-button>
</mm-widget-control>

<mm-widget-result>
  <mm-loader hidden></mm-loader>
  <div class="heading" hidden>
    <h2></h2>
    <span class="unitname"></span>
    <span class="timestamp"></span>
    <span class="progress-text"></span>
  </div>
  <span id="results_text"></span>
</mm-widget-result>

<mm-widget-script library src="lib/moment.min.js"></mm-widget-script>
<mm-widget-script library src="lib/pdf.min.js"></mm-widget-script>
<mm-widget-script src="js/mylo-widgets/StatusReport.widget.js"></mm-widget-script>

<template id="outcome-text">
  <div class="outcome">
    <h3 class="outcome-header">Header</h3>
    <p class="outcome-result">Result</p>
  </div>
</template>
