<mm-widget-title>Unit Outline Uploader</mm-widget-title>
<mm-widget-description>
	<p>This widget simplifies the process of replacing the unit outline.</p>

	<div class="outline-status">
		<d2l-loading-spinner hidden></d2l-loading-spinner>
	</div>
</mm-widget-description>

<style>
	.d2l-link {
		display: inline-block;
	}

	.d2l-link,
	.d2l-link:active,
	.d2l-link:link,
	.d2l-link:visited {
		color: #006fbf;
		cursor: pointer;
		text-decoration: none;
	}

	.d2l-link:hover {
		color: #004489;
		text-decoration: underline;
	}

	.d2l-link:focus-visible {
		border-radius: 2px;
		outline: 2px solid #006fbf;
		outline-offset: 1px;
		text-decoration: underline;
	}

	.d2l-focus-visible-not-supported .d2l-link:focus {
		border-radius: 2px;
		outline: 2px solid #006fbf;
		outline-offset: 1px;
		text-decoration: underline;
	}

	.d2l-link[main] {
		font-weight: 700;
	}

	.d2l-link[small] {
		font-size: 0.7rem;
		letter-spacing: 0.01rem;
		line-height: 1.05rem;
	}

	@media print {

		.d2l-link,
		.d2l-link:active,
		.d2l-link:link,
		.d2l-link:visited {
			color: #202122;
		}
	}

	mm-widget-control {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
		flex-wrap: wrap;
	}

	#buttons {
		display: contents;
	}

	mm-widget-control d2l-input-checkbox {
		margin: 0;
	}

	.outline-status {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.mm-description-with-label {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 0.85rem;
		line-height: 1rem;
	}

	.mm-description-with-label span {
		margin-left: 0.25rem;
	}

	.mm-description-with-label span d2l-icon {
		--d2l-icon-height: 1em;
		--d2l-icon-width: 1em;
	}

	.mm-description-with-label span d2l-icon.uo-status--warn {
		color: darkorange;
	}

	.mm-description-with-label span d2l-icon.uo-status--ok {
		color: green;
	}

	.vertical-align {
		display: flex;
		flex-direction: row;
		gap: 1em;
		align-items: center;
	}
</style>

<mm-widget-control>
	<div id="buttons"></div>
	<d2l-button-icon icon="tier1:gear" text="Advanced options" data-config-opener></d2l-button-icon>
</mm-widget-control>

<mm-widget-config config-path="unit-outline-upload">
	<d2l-input-checkbox name="archive" checked>
		Archive existing unit outline

		<d2l-icon style="width: 14px" icon="d2l-tier1:help" role="img"
			title="If checked, the old unit outline will be renamed and retained. If unchecked, the old unit outline will be deleted when a new unit outline is successfully uploaded."></d2l-icon>
	</d2l-input-checkbox>
</mm-widget-config>

<mm-widget-result class="outline-upload">
	<span id="time_taken"></span>
	<span id="results_text"></span>
	<div id="results">
		<mm-loader hidden></mm-loader>
		<span mm-id="progress-text"></span>
	</div>
</mm-widget-result>

<mm-widget-script src="js/mylo-widgets/UnitOutlineUploader.widget.js"></mm-widget-script>
